{% extends 'baseevent.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>{{ 'event.account.majInfos'|trans }}{# mise à jour des infos de votre compte #}</h1>

	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/ImgKlassEvent/IMG_1167.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">{{ 'event.titre'|trans }} {# Klass Event #}</span>
						<h2 class="mb-4 h2-event">{{ 'event.slogan'|trans }}{# Organisation d'événements clef en main #}</h2>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Background picture -->

    <!-- Account -->

	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-12 text-center heading-section">
					<span class="subheading">{{ 'bouton.modifier'|trans }}{# Modifier #}</span>
					<h2 class="mb-4">{{ 'account.edit.modifier'|trans }}{# Mes informations #}</h2>
				</div>
			</div>
 
    {{ include('account/_form.html.twig', {'button_label': 'bouton.MAJ'|trans }) }}

    <a href="{{ path('account_show') }}">{{ 'event.account.retourCompte'|trans }}{# retour sur mon compte #}</a>

    {{ include('user/_delete_form.html.twig') }}

			</div>

		</section>

		<!-- End Account -->

{% endblock %}