{% extends 'baseevent.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}


	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/images/ImgKlassEvent/IMG_1167.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">{{ 'event.titre'|trans }}{# Klass Event #}</span>
						<h2 class="mb-4 h2-event">{{ 'event.slogan'|trans }}</h2>
					</div>

				</div>
			</div>
		</div>
	</section>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<!-- End Background picture -->


	<!-- Step 1, 2, 3 -->

	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-12 text-center heading-section">
					<span class="subheading">{{'event.index.titre'|trans}}</span>
					<h2 class="mb-4">{{'event.index.titre2'|trans}}</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-md-4 d-flex align-self-stretch text-center">
					<div class="media block-6 services d-block step-background margin-event">
						<div class="media-body p-2 mt-3 justify-content-center align-items-center">
							<div>
								<span class="step-number">1</span>
							</div>
							<h3 class="heading">{{'event.index.step1.1'|trans}}</h3>
							<p>{{'event.index.step1.2'|trans}}</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 d-flex align-self-stretch text-center">
					<div class="media block-6 services d-block step-background margin-event">
						<div class="media-body p-2 mt-3 justify-content-center align-items-center">
							<div>
								<span class="step-number">2</span>
							</div>
							<h3 class="heading">{{'event.index.step2.1'|trans}}</h3>
							<p>{{'event.index.step2.2'|trans}}</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 d-flex align-self-stretch text-center">
					<div class="media block-6 services d-block step-background margin-event">
						<div class="media-body p-2 mt-3 justify-content-center align-items-center">
							<div>
								<span class="step-number">3</span>
							</div>
							<h3 class="heading">{{'event.index.step3.1'|trans}}</h3>
							<p>{{'event.index.step3.2'|trans}}</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="d-flex align-self-stretch text-center">
			<div class="media block-6 services d-block">
				<div class="media-body p-2 mt-3 justify-content-center align-items-center">
					<h5 class="margin-event">{{'event.index.perimetre'|trans}}</h5>
										<table>
						{% for event in events %}
						<tr>
							<td>{{ event.type }} </td>
							<td><a href="{{ path('quote_quote', {'id': event.id}) }} ">
							<button class="btn btn-primary">{{ button_label|default('faire un devis') }}</button>
							</a></td>
						</tr>
							{% else %}
							<p>aucun evenement possible, contactez l'administrateur</p>
						{% endfor %}
					</table>
					<p class="margin-event">
						<a href="#" class="btn btn-primary btn-lg">{{'event.index.validation'|trans}}</a>
					</p>
				</div>
			</div>
		</div>

		</section>

		<!-- End Step -->

	{% endblock %}
