{% extends 'baseEmail.html.twig' %}

{% block body %}
<h1>Demande de devis pour : {{ infos.event|upper }}</h1>   
  
    <div>
        <p class="col-6 d-flex p-title">Nom du client : </p><p class="col-6 d-flex"> {{ infos.name }} </p>
    </div>
    <div>
        <p class="p-title"> Date de l'événement : </p><p class=""> {{ infos.eventDate }} </p>
    </div>
    <div>
        <p class="col-6 d-flex p-title">Adresse de l'événement : </p><p class="col-6 d-flex"> {{ infos.adress }} </p>
    </div>
    <div>
        <p class="col-6 d-flex p-title">Nombre de convives : </p><p class="col-6 d-flex"> {{ infos.guests }} </p>
    </div>
    <div>
        <p class="col-6 d-flex p-title">Numéro de téléphone : </p><p class="col-6 d-flex"> {{ infos.phone }} </p>
    </div>
    <div>
        <p class="col-6 d-flex p-title">E-mail : </p><p class="col-6 d-flex"> {{ infos.email }} </p>
    </div>
    <div>
        <p class="col-6 d-flex p-title">Commentaire : </p><p class="col-6 d-flex"> {{ infos.note }} </p>
    </div>

   
{% endblock %}
   


