<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.accessoire'|trans }}{# Accessoire #}</th>
      <th scope="col">{{ 'rent.prix'|trans }}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.housse.lycra'|trans }}{# Housse en lycra, blanche ou ivoire #}</td>
      <td>1€</td>
    </tr>
	  <tr>
	    <td>{{ 'rent.noeud'|trans }}{# Noeud organza #}</td>
      <td>0,60€</td>
    </tr>
  	  <tr>
	    <td>{{ 'rent.housse.noeud'|trans }}{# Housse lycra + noeud organza #}</td>
      <td>1,20€</td>
    </tr>
  	<tr>
	    <td>{{ 'rent.noeud.toile'|trans }}{# Noeud toile de jute#}</td>
      <td>1€</td>
    </tr>
  	<tr>
	    <td>{{ 'rent.housse.toile'|trans }}{# Housse lycra + noeud toile de jute#}</td>
      <td>1,90€</td>
    </tr>
  </tbody>
</table>



