<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.decoration'|trans }}{# Nos décoration #}</th>
      <th scope="col">{{ 'rent.description.deco'|trans }}{# Description #}</th>
 
      <th scope="col">{{ 'rent.prix'|trans }}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.deco.lu'|trans }}{# Décoration lumineuse #}</td>
      <td>{{ 'rent.proj.lu'|trans }}{# Projecteur lumineux à led (environ 7 ou 8) et extra plat, très facile d’installation. #}</td>
      <td>70€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.deco.lu.salle'|trans }}{# Décoration lumineuse de salle #}</td>
      <td>{{ 'rent.insta.lu'|trans }}{# Installation de projecteurs contre les murs, tout autour de la salle. Nous nous occupons du montage et du démontage. #}</td>
      <td>120€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.rideau'|trans }}{# Rideau lumineux #}</td>
      <td>{{ 'rent.rideau.lu'|trans }}{# Rideau lumineux 4m x 3m composé de 300 LED blanches pures + structure aluminium #}</td>
      <td>80€</td>      
    </tr>
  </tbody>  
</table>

