<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.type.mangedebout'|trans }}{#type de mange debout#}</th>
      <th scope="col">{{ 'rent.dimension'|trans }}{#dimensions #}</th>
      <th scope="col">{{ 'rent.couleurs'|trans }}{#couleurs #}</th>
      <th scope="col">{{ 'rent.prix'|trans }}{#prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.mange.debout'|trans }}{# mange debout #}</td>
      <td>{{ 'rent.diam60'|trans}}{# Diamètre 60 cm Hauteur 1,10 m #}</td>
	    <td>{{ 'rent.blanc.noir'|trans }}{# Blanc, noir, ivoire #}</td>
      <td>10€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.mange.debout.lu'|trans }}{# mange debout lumineux #}</td>
      <td>{{ 'rent.matiere'|trans}}{# 100% polyester, blanche #}</td>
	    <td>{{ 'rent.housse'|trans}}{# Housse blanc ou ivoire#}</td>
      <td>18€</td>
    </tr>
  </tbody> 
</table>

