<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.type.verre'|trans }}{# type de verre #}<sup>*</sup></th>
      <th scope="col">{{ 'rent.contenance'|trans }}{# contenance #}</th>
      <th scope="col">{{ 'rent.caracteristique'|trans }}{# Caractéristiques #}</th>
      <th scope="col">{{ 'rent.prix'|trans }}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.champagne'|trans }}{# Flûte à champagne #}</td>
      <td>16,5 cl</td>
      <td>{{ 'rent.hauteur18'|trans }}{# Hauteur 16,5 cm Largeur 5 cm #}</td>
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.eau'|trans }}{# Verre à eau #}</td>
      <td>25 cl</td>
      <td>{{ 'rent.hauteur18'|trans }}{# Hauteur 16,5 cm Largeur 5 cm #}</td>
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.vin'|trans }}{# Verre à vin #}</td>
      <td>19 cl</td>
      <td>{{ 'rent.hauteur18'|trans }}{# Hauteur 16,5 cm Largeur 5 cm #}</td>
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.tumbler'|trans }}{# Verre tumbler #}</td>
      <td>17 cl</td>
      <td>{{ 'rent.hauteur18'|trans }}{# Hauteur 16,5 cm Largeur 5 cm #}</td>
      <td>0,20€</td>      
    </tr> 
  </tbody>   
</table>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.couvert'|trans }}{# et couverts #}<sup>*</sup></th>
      <th scope="col">{{ 'rent.caracteristique'|trans }}{# caracteristique #}</th>
      <th scope="col">{{ 'rent.prix'|trans }}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.couteau'|trans }}{# couteau #}</td>
      <td>Inox 23 cm</td>    
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.fourchette'|trans }}{# fourchette #}</td>
      <td>22 cm</td>  
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.cuillere'|trans }}{# Cuillère à dessert #}</td>
      <td>20 cm</td> 
      <td>0,20€</td>      
    </tr>
  </tbody>   
</table>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.type.assiette'|trans }}{#  type d'assiette #}<sup>*</sup></th>
      <th scope="col">{{ 'rent.caracteristique'|trans }}{# caracteristique #}</th>
      <th scope="col">{{ 'rent.prix'|trans }}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.assiette.ronde'|trans }}{#  Assiette ronde pour plat #}</td>
      <td>26 cm</td>    
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.assiette.carre'|trans }}{#  Assiette carrée #}</td>
      <td>26,5 cm</td>  
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.assiette.carre.dessert'|trans }}{#  Assiette carrée à dessert #}</td>
      <td>18 cm</td> 
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>{{ 'rent.assiette.ronde.dessert'|trans }}{#  Assiette ronde à dessert #}</td>
      <td>18 cm</td> 
      <td>0,20€</td>      
    </tr>
  </tbody>    
</table>

<p><sup>*</sup>{{ 'rent.arendre'|trans }}{#  A rendre lavé sinon ajouter 5 cts par location d'article vaisselle. #}</p>

