<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.type.nappe'|trans}}{# type de nappe #}</th>
      <th scope="col">{{ 'rent.caracteristique'|trans}}{# caractéristiques #}</th>
      <th scope="col">{{ 'rent.dimension'|trans}}{# dimensions #}</th>
	    <th scope="col">{{ 'rent.capacite'|trans}}{# capacité #}</th>
      <th scope="col" colspan="2">{{ 'rent.prix'|trans}}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.nappe.rectangulaire'|trans}}{# Nappe rectangulaire #}</td>
      <td>{{ 'rent.matiere'|trans}}{# 100% polyester, blanche #}</td>
	    <td>1,40m x 2,40m</td>
      <td>{{ 'rent.6/8.personne'|trans}}{# 6/8 personnes #}</td>
      <td>8€<sup>*</sup></td>
      <td>5€<sup>**</sup></td>
    </tr>
    <tr>
      <td>{{ 'rent.nappe.ronde'|trans}}{# Nappe ronde #}</td>
      <td>{{ 'rent.matiere'|trans}}{# 100% polyester, blanche #}</td>
	    <td>2,90m</td>
      <td>{{ 'rent.8/10.personne'|trans}}{# 8/10 personnes #}</td>
      <td>8€<sup>*</sup></td>
      <td>5€<sup>**</sup></td>
    </tr>
</table>

<p class="mb-5"><em><sup>*</sup>{{ 'rent.non.lave'|trans}}{#A rendre non lavées#}<sup>**</sup>{{ 'rent.lave'|trans}}{# A rendre lavées, séchées, non repassées #}</em></p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.type.accessoire'|trans}}{# type d'accessoire #}</th>
      <th scope="col">{{ 'rent.caracteristique'|trans}}{# caractéristiques #}</th>
      <th scope="col">{{ 'rent.dimension'|trans}}{# Dimensions #}</th>
      <th scope="col">{{ 'rent.prix'|trans}}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.chemin.table'|trans}}{# chemin de table #}</td>
      <td>{{ 'rent.satin'|trans}}{# satin #}</td>
	    <td>30cm x 2,75m</td>
      <td>1€</td>     
    </tr>
    <tr>
      <td>{{ 'rent.chemin.table'|trans}}{# chemin de table #}</td>
      <td>{{ 'rent.organza'|trans}}{# organza #}</td>
	    <td>30cm x 2,75m</td>
      <td>1€</td>     
    </tr>
        <tr>
      <td>{{ 'rent.mange'|trans}}{# Housse pour mange debout #}</td>
      <td>{{ 'rent.couleur'|trans}}{# Lycra, blanc, noir, ivoire #}</td>
	    <td>/</td>
      <td>5€</td>     
    </tr>
    <tr>
      <td>{{ 'rent.serviette'|trans}}{# Serviettes de table #}</td>
      <td>{{ 'rent.blanche'|trans}}{# blanches #}</td>
	    <td>50cm x 50cm</td>
      <td>0.50€</td>     
    </tr>
</table>
