        <table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.type'|trans}}{# type de table #}</th>
      <th scope="col">{{ 'rent.taille'|trans}}{# taille #}</th>
	  <th scope="col">{{ 'rent.capacite'|trans}}{# capacite #}</th>
      <th scope="col">{{ 'rent.prix'|trans}}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.table.ronde'|trans}}{# table ronde #}</td>
      <td>{{ 'rent.1,60m'|trans}}{# diamètre 1,60m #}</td>
	  <td>{{ 'rent.8personne'|trans}}{# 8 personnes #}</td>
      <td>9€</td>
    </tr>
    <tr>
	  <td>{{ 'rent.table.ronde'|trans}}{# table ronde #}</td>
      <td>{{ 'rent.1,80m'|trans}}{# diamètre 1,80m #}</td>
	  <td>{{ 'rent.10personne'|trans}}{# 10 personnes #}</td>
      <td>13€</td>
    </tr>
	<tr>
	  <td>{{ 'rent.table.ronde.lumineuse'|trans}}{# table ronde lumineuse (sans nappe) #}</td>
      <td>{{ 'rent.1,60m'|trans}}{# diamètre 1,60m #}</td>
	  <td>{{ 'rent.8personne'|trans}}{# 8 personnes #}</td>
      <td>15€</td>
    </tr>
	<tr>
	  <td>{{ 'rent.table.ronde.lumineuse'|trans}}{# table ronde lumineuse (sans nappe) #}</td>
      <td>{{ 'rent.1,80m'|trans}}{# diamètre 1,80m #}</td>
	  <td>{{ 'rent.10personne'|trans}}{# 10 personnes #}</td>
      <td>19€</td>
    </tr>
  </tbody>
</table>
