<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.accessoire'|trans}}{# accessoire #}</th>
      <th scope="col">{{ 'rent.apropos'|trans}}{# description #}</th>
      <th scope="col">{{ 'rent.prix'|trans}}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'rent.martini'|trans}}{# Vase Martini #}</td>
      <td>{{ 'rent.70cm'|trans}}{#70 cm de haut, possibilité de location de billes d’eau de différentes couleurs#}</td>
      <td>6,50€</td>
    </tr>
	  <tr>
	    <td>{{ 'rent.cylindrique'|trans}}{#Vase cylindrique#}</td>
      <td>{{ 'rent.hauteur'|trans}}{# Hauteur 20 cm #}</td>
      <td>1€</td>
    </tr>
  	  <tr>
	    <td>{{ 'rent.cylindrique'|trans}}{#Vase cylindrique#}</td>
      <td>{{ 'rent.hauteur30'|trans}}{# Hauteur 30 ou 40 cm #}</td>
      <td>2€</td>
    </tr>
  	<tr>
	    <td>{{ 'rent.coupelle'|trans}}{#Vase coupelle#}</td>
      <td>{{ 'rent.hauteur8'|trans}}{#Diamètre 25 cm  Hauteur 8 cm#}</td>
      <td>2€</td>
    </tr>
    <tr>
	    <td>{{ 'rent.boule'|trans}}{#Vase boule#}</td>
      <td>{{ 'rent.diametre25'|trans}}{#Diamètre 25 cm#}</td>
      <td>3€</td>
    </tr>
  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'rent.accessoire'|trans}}{# accessoire #}</th>
      <th scope="col">{{ 'rent.apropos'|trans}}{# description #}</th>
      <th scope="col">{{ 'rent.prix'|trans}}{# prix #}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	    <td>{{ 'rent.miroir'|trans}}{# miroir rond #}</td>
      <td>{{ 'rent.diam35'|trans}}{# Diamètre 35 cm, pour mettre en dessous de vos vases en centre
          de table #}</td>
      <td>1,50€</td>
    </tr>
    <tr>
      <td>{{ 'rent.billes'|trans}}{# Billes hydrogel colorées #}</td>
      <td>{{ 'rent.13couleurs'|trans}}{# 13 couleurs disponibles #}</td>
      <td>{{ 'rent.2e'|trans}}{# 2 euros les 150 billes #}</td>
    </tr>
    <tr>
      <td>{{ 'rent.chaine'|trans}}{# Chaine de diamants #}</td>
      <td>{{ 'rent.possible'|trans}}{# Possibilité de personnaliser la longueur en coupant la chaîne #}</td>
      <td>0,50€/mètre</td>
    </tr>
    <tr>
      <td>{{ 'rent.diamant'|trans}}{# diamants #}</td>
      <td>{{ 'rent.transparents'|trans}}{# transparents #}</td>
      <td>{{ 'rent.3e'|trans}}{# 3 euros les 500 diamants #}</td>
    </tr>
    <tr>
      <td>{{ 'rent.led'|trans}}{# Bougie LED Submersible #}</td>
      <td>{{ 'rent.changement'|trans}}{# Changement graduel de couleurs, intérieur/extérieur #}</td>
      <td>0,50€/pièce</td>
    </tr>
    <tr>
      <td>{{ 'rent.arbre'|trans}}{# arbre à dragées #}</td>
      <td>{{ 'rent.120cm'|trans}}{# 120 cm, blanc #}</td>
      <td>15€</td>
    </tr>
  </tbody>
</table>
