{% extends 'baseadmin.html.twig' %}

{% block title %}Image Mariage
{% endblock %}

{% block body %}

	<section class="hero-wrap hero-wrap-2 img-black-white" style="background-image: url('{{ asset('build/images/4271330660_74de175953_o.jpg') }}')" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row  slider-text align-items-center justify-content-center">
				<div class="col-md-9 text-center mt-5">
					<h1 class="mb-2 bread">KlassEvent</h1>
					<h2 class="breadcrumbs" style="font-size: 25px;">Images mariages</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12 justify-content-center text-center">
					<div class="media block-6 services d-block step-background margin-traiteur">
						<div class="media-body p-2 mt-3 justify-content-center align-items-center">
							<img src="/images/uploads/{{ picture.path }}" alt="{{ picture.alt }}" class="size-img-admin">
							<h3 class="heading">Image :</h3>
							<p>{{ picture.name }}</p>
							{# <h3 class="heading">Type :</h3> #}
							{# <p>{{ picture.type }}</p> #}
							<h3 class="heading">Description :</h3>
							<p>{{ picture.description }}</p>
							<a class="btn btn-warning" href="{{ path('admin_picture_edit', {'id': picture.id}) }}">Editer</a>

							{{ include('admin/picture/_delete_form.html.twig') }}
							<a type="button" class="btn btn-dark" href="{{ path('admin_picture_index') }}">Retour</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
