{% extends 'baseevent.html.twig' %}

{% block title %}Gallerie!
{% endblock %}

{% block body %}
	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/images/ImgKlassEvent/IMG_10542.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">{{ 'event.titre'|trans }}{# Klass Event #}</span>
						<h2 class="mb-4 h2-event">{{ (services.title ~ '.' ~ services.id)|trans }}</h2>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Background picture -->

	<!-- Gallery = Blog section -->

	<section class="bg-light">
		<div class="container">

			<div class="row mt-5">
				{% for picture in services.picture %}
					<div class="col-md-4 ">
						<div class="blog-entry">
							<div class="zoom-gallery">
								<p class="block-20 picture-gallery" style="background-image:url('/images/uploads/{{ picture.path }}')"></p>
							</div>
							<div class="text pt-3 pb-4 px-4">
								<h3 class="heading">
									{{ (picture.description~'.'~picture.id)|trans }}
								</h3>
							</div>
						</div>
					</div>
				{% else %}
					<p>{{ 'gallery.index.rien'|trans }}{# aucune images dans les services, contactez l'administrateur #}</p>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Gallery -->

{% endblock %}
