{% extends 'baseevent.html.twig' %}

{% block title %}Hello QuoteController!{% endblock %}

{% block body %}

	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/images/ImgKlassEvent/IMG_10542.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">{{ 'event.titre'|trans }}{# Klass Event #}</span>
						<h2 class="mb-4 h2-event">Les Devis</h2>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Background picture -->

<div class="container">
<h1>{{ 'quote.for'|trans }}{# devis pour un #} {{ event.type }} </h1>
{% set eventPage = event.type %}

    <form action="{{ path('quote_send') }}" method="POST">

        <div class="form-group">
            <label for="eventDate">{{ 'quote.dateEvenement'|trans }}{#Jour et heure de l'évenement #}: </label>
            <br>
            <input class="form-control" type="datetime-local" name="eventDate" id="eventDate" required>
        </div>
        <br>
        <div class="form-group">
            <label for="adress">{{ 'quote.lieu.event'|trans }}{# le lieu de l'événement #}:</label>
            <br>
            <textarea class="form-control" id="adress" name="adress" rows="3"
            cols="33" placeholder="entrez l'adresse entière" required></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="guests">{{ 'quote.nbrInvites'|trans }}{# nombre d'invités #}:</label>
            <br>
            <input class="form-control" type="number" name="guests" id="guests" placeholder="3" required>
        </div>
        <br>
        <input class="form-control" type="hidden" name="event" value="{{ eventPage }}">
        {% for service in event.service %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Service-{{ service.title }}" value="OK" id="Service" checked>
            <label class="form-check-label" for="{{ service.title }}">{{ 'quote.service'|trans }}Service: {{ service.title|trans }}</label>
        </div>
        <br>
        {{ 'quote.description'|trans }}{# Description #}: {{ service.description|trans }}
        <br>
        <select class="form-control" name="option-{{ service.title|trans }}" id="option-{{ service.title|trans }}">
            <option value="">{{ 'quote.choix.option'|trans }}{# --Veillez choisir votre option-- #}</option>
            {% for option in service.options %}
            <option value="{{ option.name|trans }}">{{ option.name|trans }}</option>
            {% endfor %}
        </select>
        <br>
        {% endfor %}
        <br>
        <div class="form-group">
            <label for="name">{{ 'quote.nom'|trans }}{# entrez votre nom #}: </label>
            <br>
            <input class="form-control" type="text" name="name" id="name" placeholder="Nom Prénom" required>
        </div>
        <br>
        <div class="form-group">
            <label for="phone">{{ 'quote.phone'|trans }}{# entrez votre numéro de téléphone #}: </label>
            <br>
            <input class="form-control" type="text" name="phone" id="phone" placeholder="06 .. .. .. .." required>
        </div>
        <br>
        <div class="form-group">
            <label for="email">{{ 'quote.email'|trans }}{# entrez votre email #}: </label>
            <br>
            <input class="form-control" type="email" name="email" id="email" placeholder="***@gmail.com" required>
        </div>
        <br>
        <div class="form-group">
            <label for="note">{{ 'quote.demandes'|trans }}{# Remarques, instructions, questions et damandes #}:</label>
            <br>
            <textarea class="form-control" name="note" id="note" cols="33" rows="7"></textarea>
        </div>
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="{{ 'quote.devis'|trans }}{# demander un devis #}">
    </form>
    <br>
    </div>

{% endblock %}
