<div class="py-1 bg-black top {{ app.session.flashbag.peek('success')|length > 0 ? '' : '' }}">
	<div class="container">
		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md-2 pr-4 d-flex topper align-items-start">
						<div class="icon mr-2 d-flex justify-content-center align-items-center">
							<a href="/trk/traiteur">
								<img class="nav-flag" src="{{asset('build/images/Flag_of_Turkey.png')}}" width="36"></a>
							<a href="/traiteur">
								<img class="nav-flag" src="{{asset('build/images/Flag_of_France.png')}}" width="36"></a>
						</div>
					</div>
					<div class="col-md-2 pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-phone2"></span>
						</div>
						<span class="text">{{ 'Klass.phone'|trans }}{# 07 80 55 50 17 #}</span>
					</div>
					<div class="col-md-2 pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-paper-plane"></span>
						</div>
						<span class="text">{{ 'Klass.courriel'|trans }}</span>
					</div>
					<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
						<p class="mb-0 register-link">
							<span>{{ 'event.index.perimetre'|trans }}{# Déplacements jusqu'à 350km autour de Strasbourg #}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/traiteur">{{ 'traiteur.titre'|trans }}{# KlassTraiteur #}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span>
			{{ 'menu'|trans }}
			{# Menu #}
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="flag align-items-start">
					<div class="icon mr-2 d-flex  align-items-center contact-g flag">
						<a href="/trk/traiteur">
							<img class="nav-flag" src="{{asset('build/images/Flag_of_Turkey.png')}}" width="36"></a>
						<a href="/traiteur">
							<img class="nav-flag " src="{{asset('build/images/Flag_of_France.png')}}" width="36"></a>
					</div>
				</li>
				<li class="nav-item">
					<a href="{{ path('home') }}" class="nav-link">{{ 'accueil'|trans }}{# Accueil #}</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('traiteur_livraison') }}" class="nav-link">{{ 'navbar.livraison'|trans }}{# Détails des livraison #}</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('traiteur_menus') }}" class="nav-link">{{ 'traiteur.menu.savoirfaire'|trans }}{# Liste des menus #}</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a href="{{ path('account_show') }}" class="nav-link">{{ 'event.account.compte'|trans }}{# mon compte #}</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('security_logout') }}" class="nav-link">{{ 'account.logout'|trans }}{# Logout #}</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{ path('security_login') }}" class="nav-link">{{ 'account.login'|trans }}{# Login #}</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a href="{{ path('admin_index') }}" class="nav-link">Admin</a>
					</li>
				{% endif %}

				<li class="nav-cta contact-g">
					<a href="{{ path('traiteur_contact') }}" class="nav-link">{{ 'contact'|trans }}{# Contact #}</a>
				</li>
				<li class="nav-item contact-p">
					<a href="{{ path('traiteur_contact') }}" class="nav-link">{{ 'contact'|trans }}{# Contact #}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
