<div class="py-1 bg-black top">
	<div class="container">
		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md-2 pr-4 d-flex topper align-items-start">
						<div class="icon mr-2 d-flex justify-content-center align-items-center">
							<a href="/trk/">
								<img class="nav-flag" src="{{asset('build/images/Flag_of_Turkey.png')}}" width="36"></a>
							<a href="/">
								<img class="nav-flag" src="{{asset('build/images/Flag_of_France.png')}}" width="36"></a>
						</div>
					</div>
					<div class="col-md-2 pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-phone2"></span>
						</div>
						<span class="text nav-font">{{ 'Klass.phone'|trans }}{# 07 80 55 50 17 #}</span>
					</div>
					<div class="col-md-2 pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-paper-plane"></span>
						</div>
						<span class="text nav-font">{{ 'Klass.courriel'|trans }}</span>
					</div>
					<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
						<p class="mb-0 register-link nav-font">
							<span>{{ 'event.index.perimetre'|trans }}{# Déplacements jusqu'à 350km autour de Strasbourg #}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
