<html>

	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block titlee %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheeets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			{% include '_navbarbase.html.twig' %}
		</header>

		{% block bodyy %}{% endblock %}

<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{% endblock %}
</head>

<body>
	<header>
		{% include '_navbarbase.html.twig' %}
	</header>

	<div class="container">
		{% block body %}{% endblock %}
	</div>
	{% block javascripts %}
	
	{{ encore_entry_script_tags('app') }}

	{% endblock %}
	<footer>
		{% include '_footer.html.twig' %}
	</footer>
</body>
</html>