{% extends 'baseadmin.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}

	<section class="hero-wrap hero-wrap-2 img-black-white" style="background-image: url('{{ asset('build/images/4271330660_74de175953_o.jpg') }}')" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row  slider-text align-items-center justify-content-center">
				<div class="col-md-9 text-center mt-5">
					<h1 class="mb-2 bread">KlassEvent</h1>
					<h2 class="breadcrumbs" style="font-size: 25px;">Services</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section pt-5">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section">
					<h2 class="mb-5">Tous les services :</h2>

					<table class="table table-striped">
						<thead class="table-dark">
							<tr>
								<th class="text-center">Service</th>
								<th class="text-center">Description</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>

						<tbody>
							{% for service in services %}
								<tr>
									<td class="text-admin-3 text-center">{{ service.title }}</td>
									<td class="text-admin text-center">{{ service.description }}</td>
									<td class="text-admin text-center">
										<a class="btn btn-info" href="{{ path('admin_service_show', {'id': service.id}) }}">Voir</a>
										<a class="btn btn-warning" href="{{ path('admin_service_edit', {'id': service.id}) }}">Editer</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">Pas de service trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a type="button" class="btn btn-success" href="{{ path('admin_service_new') }}">Ajouter un nouveau service</a>
					<a type="button" class="btn btn-dark" href="{{ path('admin_index') }}">Retour</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
