{% extends 'basetraiteur.html.twig' %}

{% block title %}KlassTraiteur
{% endblock %}

{% block body %}
	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/images/bg_5.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="menu-traiteur">{{ 'traiteur.titre'|trans }}
							{# Klass Traiteur #}
						</span>
						<h2 class="mb-4 h2-event">
							{{ 'traiteur.index.appelAction'|trans }}
							{# Choisissez votre menu pour la semaine du ... au ...  #}
						</h2>
						<p class="mb-4 h2-event">{{ 'traiteur.index.3livraison'|trans }}{# A partir de 3 menus par livraison #}</p>
					</div>

				</div>
			</div>
		</div>
	</section>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message|trans }}
		</div>
	{% endfor %}

	<!-- End Background picture -->

	<!-- Menu 1, 2, 3 -->

	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-12 text-center heading-section">
					<span class="menu-traiteur">{{ 'traiteur.index.menus'|trans }}{# Les menus #}</span>
					<h2 class="mb-4">{{ 'traiteur.index.menus2'|trans }}{# De la semaine #}</h2>
				</div>
			</div>

			<div class="row">
				{% for menu in menus|slice(0,3) %}
					<div class="col-md-4 d-flex align-self-stretch text-center margin-top-20px">
						<div class="media block-6 services d-block step-background-traiteur margin-traiteur">
							<div class="media-body p-2 mt-3 justify-content-center align-items-center">
								<img src="/images/uploads/{{ menu.path }}" alt="grillade" class="size-img">
								<h3 class="heading">{{menu.name|trans}}</h3>
								<h3 class="heading">{{ 'prix.general'|trans }}
								</h3>
								<h4>{{menu.price}}
									€</h4>
								<h3 class="heading">{{ 'quote.description'|trans }}
									{# Description #}
									:
								</h3>
								<p>{{menu.description}}</p>
								<h3 class="heading">
									{{"detail.general"|trans}}
									:
								</h3>
								<p>{{menu.more}}</p>
								<button type="button" onclick="document.location.href='/traiteur/menus'" class="btn see">
									{{ 'traiteur.index.plus'|trans }}
									{# Voir plus #}
								</button>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
		<div class="d-flex align-self-stretch text-center">
			<div class="media block-6 services d-block">
				<div class="media-body p-2 mt-3 justify-content-center align-items-center">
					<h5 class="margin-traiteur">{{ 'traiteur.index.deplacements'|trans }}{# Déplacements jusqu'à 20km autour de Strasbourg #}</h5>
					<div class="btn-livre">
						<p class="margin-event">
							<a href="{{ path('traiteur_livraison') }}" class="btn see">{{ 'traiteur.index.detailsLivraison'|trans }}{# Détails des livraisons ! #}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
