{% extends 'baseadmin.html.twig' %}

{% block title %}Translate index{% endblock %}

{% block body %}

<section class="hero-wrap hero-wrap-2 img-black-white" style="background-image: url('{{ asset('build/images/4271330660_74de175953_o.jpg') }}')" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row  slider-text align-items-center justify-content-center">
          <div class="col-md-9 text-center mt-5">
            <h1 class="mb-2 bread">KlassEvent</h1>
            <h2 class="breadcrumbs" style="font-size: 25px;">Traduction</h2>
          </div>
        </div>
      </div>
</section>

<section class="ftco-section pt-5">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section">
            <h2 class="mb-5">Toutes les traductions :</h2>

            <button type="button" class="btn admin-button mb-3"><a class="admin-light" href="{{ path('translate_new') }}">Nouvelle traduction</a></button>

    <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>YamlKey</th>
                        <th>French</th>
                        <th>Turkish</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for translate in translates %}
                    <tr>
                        <td>{{ translate.yamlKey }}</td>
                        <td>{{ translate.french }}</td>
                        <td>{{ translate.turkish }}</td>
                        <td>
                            <a class="btn btn-success mr-3" href="{{ path('translate_show', {'id': translate.id}) }}">Voir</a>
                        </td>  
                        <td>    
                            <a class="btn btn-warning" href="{{ path('translate_edit', {'id': translate.id}) }}">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas de traduction trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            </div>   
        </div>	
    </div>
</section>


{% endblock %}
