{% extends 'base.html.twig' %}

{% block title %}Translate{% endblock %}

{% block body %}
    <h1>Translate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ translate.id }}</td>
            </tr>
            <tr>
                <th>YamlKey</th>
                <td>{{ translate.yamlKey }}</td>
            </tr>
            <tr>
                <th>French</th>
                <td>{{ translate.french }}</td>
            </tr>
            <tr>
                <th>Turkish</th>
                <td>{{ translate.turkish }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('translate_index') }}">back to list</a>

    <a href="{{ path('translate_edit', {'id': translate.id}) }}">edit</a>

    {{ include('translate/_delete_form.html.twig') }}
{% endblock %}
