{% extends 'baseadmin.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<section class="hero-wrap hero-wrap-2 img-black-white" style="background-image: url('{{ asset('build/images/4271330660_74de175953_o.jpg') }}')" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row  slider-text align-items-center justify-content-center">
				<div class="col-md-9 text-center mt-5">
					<h1 class="mb-2 bread">KlassEvent</h1>
					<h2 class="breadcrumbs" style="font-size: 25px;">Utilisateurs</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section pt-5">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-14 text-center heading-section">
					<h2 class="mb-5">Liste des utilisateurs</h2>

					<table class="table table-striped">
						<thead class="table-dark">
							<tr>
								<th class="text-center">Id</th>
								<th class="text-center">Courriel</th>
								<th class="text-center">Nom</th>
								<th class="text-center">Prénom</th>
								<th class="text-center">Telephone</th>
								<th class="text-center">Adresse du domicile</th>
								<th class="text-center">Adresse de l'evenement</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td class="align-middle text-center">{{ user.id }}</td>
									<td class="align-middle text-center text-admin-3">{{ user.email }}</td>
									<td class="align-middle text-center text-admin-100">{{ user.name }}</td>
									<td class="align-middle text-center text-admin-100">{{ user.firstName }}</td>
									<td class="align-middle text-center text-admin-3">{{ user.phone }}</td>
									<td class="text-admin-160">{{ user.adress }}</td>
									<td class="text-admin-180">{{ user.adressEvent }}</td>
									<td class="align-middle">
										<a class="btn btn-info" href="{{ path('admin_user_show', {'id': user.id}) }}">Voir</a>
										<a class="btn btn-warning" href="{{ path('admin_user_edit', {'id': user.id}) }}">Editer</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">Pas d'utilisateur trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a type="button" class="btn btn-success" href="{{ path('admin_user_new') }}">Ajouter un utilisateur</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
