{% extends 'baseadmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<section class="hero-wrap hero-wrap-2 img-black-white" style="background-image: url('{{ asset('build/images/4271330660_74de175953_o.jpg') }}')" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row  slider-text align-items-center justify-content-center">
          <div class="col-md-9 text-center mt-5">
            <h1 class="mb-2 bread">KlassEvent</h1>
            <h2 class="breadcrumbs" style="font-size: 25px;">{{ 'user.edit'|trans }}{#Utilisateurs#}</h2>
          </div>
        </div>
      </div>
</section>

<section class="ftco-section pt-5">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section">
            <h2 class="mb-5">{{ 'user.index.listuser'|trans }}{#Liste des utilisateurs#}</h2>
    

                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>{{ 'user.index.id'|trans }}{# Id #}</th>
                            <th>{{ 'user.index.couriel'|trans }}{# Couriel #}</th>
                            <th>{{ 'user.index.nom'|trans }}{# Nom #}</th>
                            <th>{{ 'user.index.prenom'|trans }}{# Prenom #}</th>
                            <th>{{ 'user.index.telephone'|trans }}{# Telephone #}</th>
                            <th>{{ 'user.index.domicile'|trans }}{# Adresse du domicile #}</th>
                            <th>{{ 'user.index.adressevenement'|trans }}{# Adresse de l'evenement #}</th>
                            <th>{{ 'user.index.actions'|trans }}{# Actions #}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.adress }}</td>
                            <td>{{ user.adressEvent }}</td>
                            <td>
                                <a class="btn btn-success mr-3 mb-2" href="{{ path('admin_user_show', {'id': user.id}) }}">{{ 'user.index.see'|trans }}{# Voir #}</a>
                                <a class="btn btn-warning" href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ 'user.index.edit'|trans }}{# Editer #}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">{{ 'user.index.userfail'|trans }}{# Pas d'utilisateur trouvé #}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn admin-button mb-3"><a class="admin-light" href="{{ path('admin_user_new') }}">{{ 'user.index.newuser'|trans }}{# Ajouter un utlisateur #}</a></button>

            </div>   
        </div>	
    </div>
</section>
{% endblock %}
