{% extends 'baseadmin.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<section class="hero-wrap hero-wrap-2 img-black-white" style="background-image: url('{{ asset('build/images/4271330660_74de175953_o.jpg') }}')" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row  slider-text align-items-center justify-content-center">
				<div class="col-md-9 text-center mt-5">
					<h1 class="mb-2 bread">KlassEvent</h1>
					<h2 class="breadcrumbs" style="font-size: 25px;">Utilisateurs</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12 justify-content-center text-center">
					<div class="media block-6 services d-block step-background margin-traiteur">
						<div class="media-body p-2 mt-3 justify-content-center align-items-center">

							<h2 class="mb-5">Utilisateurs :</h2>

							<h3>Nom :
							</h3>
							<p>
								{{ user.name }}</p>

							<h3>Prénom :
							</h3>
							<p>
								{{ user.firstName }}</p>

							<h3 class="heading">Id :</h3>
							<p>
								{{ user.id }}</p>
							<h3 class="heading">Email :</h3>
							<p>
								{{ user.email }}</p>
							<h3>Roles:
							</h3>
							<p>
								{{ user.roles ? user.roles|json_encode : '' }}</p>
							<h3>Mot de passe :
							</h3>
							<p>
								{{ user.password }}</p>

							<h3>Téléphone :
							</h3>
							<p>
								{{ user.phone }}</p>

							<h3>Adresse :
							</h3>
							<p>
								{{ user.adress }}</p>

							<h3>Adresse de l'Event :
							</h3>
							<p>
								{{ user.adressEvent }}</p>

							<a class="btn btn-warning" href="{{ path('admin_user_edit', {'id': user.id}) }}">Editer</a>

							{{ include('user/_delete_form.html.twig') }}

							<a type="button" class="btn btn-dark" href="{{ path('admin_user_index') }}">Retour</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
